<div *ngIf="options !== null && options !== undefined" class="progress-container" [ngClass]="outerStyleClass">
    <ng-container *ngTemplateOutlet="progressItem; context: {$implicit: options, displayValue: displayValue}"></ng-container>
</div>

<div
  *ngIf="
    multipleOptions != null &&
    multipleOptions != undefined &&
    multipleOptions.length > 0
  "
  class="progress-container" [ngClass]="outerStyleClass">
  <ng-container *ngFor="let optionItem of multipleOptions">
    <ng-container *ngTemplateOutlet="progressItem; context: {$implicit: optionItem, displayValue: displayValue}">

	</ng-container>
  </ng-container>
</div>

<ng-template #progressItem let-optionItem let-displayValue>
	<div class="progress-bar-item" [style.width]="optionItem.value + '%'" [ngClass]="optionItem.styleClass"  [style.background]="optionItem.color">
		{{displayValue ? ((optionItem.displayValue !== null && optionItem.displayValue !== undefined) ? optionItem.displayValue : optionItem.value) : '' }}
	  </div>
</ng-template>
