body {
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

.style-class-80 {
  background: brown;
  color: blanchedalmond;
}

.style-class-20 {
  background: rgb(118, 165, 42);
  color: rgb(18, 6, 65);
}